<h1>Welcome to FilmCorp</h1>
<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-12 welcome">
                <h1 id="index-text">Welcome to FilmCorp</h1>
                <div id="trailer"> <img src="../../../assets/imagenes/trailerAnt.jpg" width="80%" height="auto">
                    <div id="textTrailer">
                        <h3 id="index-sub">Ant-Man & Wasp: Quantumania</h3>
                        <div class="col-lg-9 col-12">
                            <p>Amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <h2 id="index-subtext" class="destacadas">Destacadas</h2>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-6">
                        <div class="card mb-2">
                            <div class="row g-0">
                                <div class="col-md-5 col-12"> <img src="../../../assets/imagenes/bear.jpg"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-7 col-12">
                                    <div class="card-body" style="text-align: center;">
                                        <h5 class="card-title">Cocain Bear</h5>
                                        <button type="button" class="btn">Más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-6">
                        <div class="card mb-2">
                            <div class="row g-0">
                                <div class="col-md-5 col-12">
                                    <img src="../../../assets/imagenes/gato.jpg" class="img-fluid rounded-start"
                                        alt="...">
                                </div>
                                <div class="col-md-7 col-12">
                                    <div class="card-body" style="text-align: center;">
                                        <h5 class="card-title">El gato con botas</h5>
                                        <button type="button" class="btn">Más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!---->
        </div>
    </div>
    <div class="row" style="background-color:rgb(88, 60, 101) ;">
        <h2 style="color: aliceblue;">The most popular</h2>
        <div class="col-lg-2 col-md-4 col-6">
            <div id="letras" class="caja zoom text-align-center">
                <img src="../../../assets/imagenes/gato.jpg">
                <br><br>
                <p>El Gato con Botas</p>
                <p>Chris Miller <br> Infantil</p>
                <button id="boton" type="button" class="btn btn-primary">Información</button><br><br>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div id="letras" class="caja zoom text-align-center">
                <img class="img-responsive" src="../../../assets/imagenes/bear.jpg">
                <br><br>
                <p>Cocain Bear</p>
                <p>Elizabeth Banks <br> Terror</p>
                <button id="boton" type="button" class="btn btn-primary">Información</button><br><br>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div id="letras" class="caja zoom text-align-center">
                <img src="../../../assets/imagenes/interestelar.jpg"><br><br>
                <p>Interestellar</p>
                <p>Christopher Nolan <br> Ciencia-Ficción</p>
                <button id="boton" type="button" class="btn btn-primary">Información</button><br>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div id="letras" class="caja zoom text-align-center">
                <img src="../../../assets/imagenes/padrino.jpg"><br><br>
                <p>El padrino</p>
                <p>Francis Ford Coppola<br> Policiaca</p>
                <button id="boton" type="button" class="btn btn-primary">Información</button><br>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div id="letras" class="caja zoom text-align-center">
                <img src="../../../assets/imagenes/pulp.jpg"><br><br>
                <p>Pulp Fiction</p>
                <p>Quentin Tarantino<br>Thriller</p>
                <button id="boton" type="button" class="btn btn-primary">Información</button><br>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div id="letras" class="caja zoom text-align-center">
                <img src="../../../assets/imagenes/pearl.jpg"><br><br>
                <p>Pearl Harbor</p>
                <p>Michael Bay <br> Drama historico</p>
                <button id="boton" type="button" class="btn btn-primary">Información</button><br>
            </div>
        </div>
    </div>

    <h2 style="margin-left: 2em;">Fan favorites</h2>
    <div class="row align-items-center;">
        <div class="card mb-3" style="max-width: 550px; height: auto;border: none;">
            <div class="row g-0">
                <div class="col-lg-4 col-12">
                    <img src="../../../assets/imagenes/padrino.jpg" class="img-fluid rounded-start width:50em">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">El padrino</h2>
                        <h5>Sinopsis</h5>
                        <p class="card-text">Es una película de Francis Ford Coppola de 1972, basada en la novela de
                            Mario Puzo. La historia sigue a la familia Corleone, una poderosa familia de la mafia
                            italoamericana, liderada por Don Vito Corleone (Marlon Brando). La película explora temas
                            como la lealtad, el poder y la violencia en el mundo del crimen organizado.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 ">
            <div style="margin-left: 5em;">

                <video src="../../../assets/videos/padrino.mp4" width="50%" height="auto"></video>
            </div>
        </div>


    </div>


    <div class="row" style="background-color:rgb(88, 60, 101) ;">
        <h2 style="color: aliceblue;">The most popular</h2>
        <div class="col-lg-2">
            <div id="letras" class="caja zoom"><img src="../../../assets/imagenes/gato.jpg"><br><br>
                <p>El Gato con Botas<br>
                <p>Chris Miller <br> Infantil</p> <button id="boton" type="button"
                    class="btn btn-primary">Información</button><br>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="letras" class="caja zoom"><img src="../../../assets/imagenes/bear.jpg"><br><br>
                <p>Cocain Bear<br>
                <p>Elizabeth Banks <br> Terror</p> <button id="boton" type="button"
                    class="btn btn-primary">Información</button><br>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="letras" class="caja zoom"><img src="../../../assets/imagenes/interestelar.jpg"><br><br>
                <p>Interestellar<br>
                <p>Christopher Nolan <br> Ciencia-Ficción</p> <button id="boton" type="button"
                    class="btn btn-primary">Información</button><br>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="letras" class="caja zoom"><img src="../../../assets/imagenes/padrino.jpg"><br><br>
                <p>El padrino<br>
                <p>Francis Ford Coppola<br> Policiaca</p> <button id="boton" type="button"
                    class="btn btn-primary">Información</button><br>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="letras" class="caja zoom"><img src="../../../assets/imagenes/pulp.jpg"><br><br>
                <p>Pulp Fiction<br>
                <p>Quentin Tarantino<br>Thriller</p> <button id="boton" type="button"
                    class="btn btn-primary">Información</button><br>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="letras" class="caja zoom"><img src="../../../assets/imagenes/pearl.jpg"><br><br>

                <p>Pearl Harbor<br>
                <p>Michael Bay <br> Drama historico</p> <button id="boton" type="button"
                    class="btn btn-primary">Información</button><br>

            </div>
        </div>
    </div>


    <h1 class="text-center">Highest-grossing films</h1>
    <div class="container">
        <div class="row col-lg-12 text-justify text-center" x style="background-color:#8d7d94 ; ">
            <div class="container col-lg-6 " id="lista" style="color:rgb(13, 13, 14);">
                <p>1. Ant-Man & Wasp <button id="boton2" type="button" class="btn btn-secondary">Más</button></p>
                <p>2. Babylon <button id="boton2" type="button" class="btn btn-secondary">Más</button></p>
                <p>3. Avatar: The way of water <button id="boton2" type="button" class="btn btn-secondary">Más</button>
                </p>
            </div>
            <div class="container col-lg-6 " id="lista" style="color:rgb(13, 13, 14);">
                <p>4. Jurasic world<button id="boton2" type="button" class="btn btn-secondary">Más</button></p>
                <p>5. Transformers <button id="boton2" type="button" class="btn btn-secondary">Más</button></p>
                <p>6. Cocain bear <button id="boton2" type="button" class="btn btn-secondary">Más</button></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class=" row  " style="background-color:rgb(88, 60, 101); justify-content: center;">

        <h2 style="color: aliceblue; margin-left: 2em;">Last news</h2>
        <br>
        <br>
        <div class="card mb-3" style="max-width: 450px;background-color: transparent;border: none;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/imagenes/bear.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color: aliceblue;">Cocain Bear</h5>
                        <p class="card-text" style="color: aliceblue;">Se confirma que Cocain Bear es una historia
                            basada en
                            hechos reales </p>
                        <button type="button" class="btn btn-secondary">Más</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 450px;background-color: transparent;border: none;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/imagenes/gato.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color: aliceblue;">El gato con botas</h5>
                        <p class="card-text" style="color: aliceblue;">El gato con botas ya no sera doblado por Antonio
                            Banderas en ninguna de sus versiones. </p>
                        <button type="button" class="btn btn-secondary">Más</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 450px;background-color: transparent;border: none;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/imagenes/pulp.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color: aliceblue;">Pulp Fiction</h5>
                        <p class="card-text" style="color: aliceblue;">El esperado remake se confirma, además de darnos
                            la
                            lista de los nuevos protagonistas. </p>
                        <button type="button" class="btn btn-secondary">Más</button>
                    </div>
                </div>
            </div>
        </div>

    </div>