<div class="row">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border">
        <img class="align-items-centerf" id="logoFooter" src="../../../assets/imagenes/logo.png" alt="">
        <div class="col-md-4 d-flex align-items-center">

            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2023 PelisCorp, SA</span>
        </div>
        <div class="row col-lg-2">
            <ul>
                <a href="#"><i id="iconFooter"></i><img src="../../../assets/imagenes/logoTwiter.png" width="45pm"></a>
                <a href="#"><i id="iconFooter"></i><img src="../../../assets/imagenes/iconoInst.jpg" width="45pm"></a>
                <a href="#"><i id="iconFooter"></i><img src="../../../assets/imagenes/logoGma.png" width="45pm"></a>
            </ul>
        </div>
    </footer>
</div>